 .warpper.faq{
 	padding: 0 0 80px;
 	@include rwd($desktop-w) {
 		padding-bottom: 100px;

 	}
 	.faq-list{
 		padding: 20px;
 		@include rwd($pad) {
 			margin-top: 70px;
 			padding: 20px 40px;
 		}
 		@include rwd($pad) {
 			padding: 20px 0px;
 			max-width: 768px;
 			margin: 70px auto 0px;
 		}
 		@include rwd($desktop-w) {
 			margin-top: 100px;
 			max-width: 1024px;
 			margin: 70px auto 0px;
 		}
 		li{
 			margin-bottom: 5px;
 			.q{
 				cursor: pointer;
 				position: relative;
 				padding: 10px 15px;
 				font-size: 18px;
 				line-height: 26px;
 				background-color: #f6f6f6;
 				color: $blue1;
 				@include rwd($desktop-w) {
 					font-size: 24px;
 				}
 				&:before{
 					content:"";
 					position: absolute;
 					left: 0;
 					top: 0;
 					width: 5px;
 					height: 100%;
 					background-color: $blue1;
 				}
 				>p{
 					padding-right: 60px;
 				}
 				.icon{
 					float: right;
 					padding: 5px;
 					position: relative;
 					border: 2px solid $blue1;
 					width: 26px;
 					height: 26px;
 					@include border-radius(50%);
 					&:after,&:before{
 						content:"";
 						position: absolute;
 						background-color: $blue1;
 						top: 50%;left: 50%;
 						@include transform(translate(-50%,-50%));
 					}
 					&:after{
 						width: 60%;
 						height: 2px;
 					}
 					&:before{
 						@include transition(all .2s ease-in-out);
 						height: 60%;
 						width: 2px;
 					}
 				}
 			}
			.a{
				padding: 15px 20px 30px;
				font-size: 15px;
				line-height: 22px;
				display: none;
 				@include rwd($desktop-w) {
 					font-size: 16px;
 					line-height: 24px;
 				}
			}
			&.on .q .icon:before{
				opacity: 0;
			}
 		}
 	}
 }