include lang_en
-$lang = "en";
doctype 5
html lang="zh-TW"

  include head
  
  body
    #warp
      include header
      .warpper.news
        .banner
          img src="../assets/images/news-bg2.jpg" alt=""/
          h2.title = $n_title
        .items
          .item
            .pic
              img src="../assets/images/news1.jpg" alt=""/
            .content
              p.title Light Taiwan - Snap willing , chosen as the best anti- hack Light Taiwan  
              span.date 13/JUN
              p.info Mr Duterte's outburst came after at a press conference where he told reporters he would not accept Mr Obama raising any concerns about the war on drugs in the Philippines.
              a href="news_detail.html"
                .more-btn
                  span Read more 
                  i.material-icons &#xE315;
          .item
            .pic
              img src="../assets/images/news1.jpg" alt=""/
            .content
              p.title Light Taiwan - Snap willing , chosen as the best anti- hack Light Taiwan  
              span.date 13/JUN
              p.info Mr Duterte's outburst came after at a press conference where he told reporters he would not accept Mr Obama raising any concerns about the war on drugs in the Philippines.
              a href="news_detail.html"
                .more-btn
                  span Read more 
                  i.material-icons &#xE315;
          .item
            .pic
              img src="../assets/images/news1.jpg" alt=""/
            .content
              p.title Light Taiwan - Snap willing , chosen as the best anti- hack Light Taiwan  
              span.date 13/JUN
              p.info Mr Duterte's outburst came after at a press conference where he told reporters he would not accept Mr Obama raising any concerns about the war on drugs in the Philippines.
              a href="news_detail.html"
                .more-btn
                  span Read more 
                  i.material-icons &#xE315;
        .navs
          ul
            li.on: a href="#"
              span 1
            li: a href="#"
              span 2
            li: a href="#"
              span 3
    include footer
