@charset "UTF-8";
@import "compass/css3";
@import "ceaser-easing";

@import "setup/setup";
@import "partials/mixin";
@import "partials/intro";
@import "partials/header";
@import "partials/footer";
@import "partials/featherlight";

@import "global";
@import "pages/index";
@import "pages/about";
@import "pages/product";
@import "pages/recipe";
@import "pages/artucle";
@import "pages/classes";
@import "pages/member";
@import "pages/pay";
@import "pages/note";
@import "pages/error";

.warpper{
	padding-bottom: 40px;
	@include rwd($desktop) {
		padding-bottom: 0px;
	}
}
.notshow>*{
	opacity: .3;
	cursor: default;
}

