//menu
- $m_about = "ABOUT";
- $m_services = "SERVICES";
- $m_news = "NEWS";
- $m_resurces = "RESOURCES";
- $m_customers = "CUSTOMERS";
- $m_careers = "CAREERS";
- $m_contact = "CONTACT";
- $m_faq = "FAQ";
- $m_terms = "TERMS";
- $m_home = "HOME"; 

- $sm_idc = "IDC";
- $sm_security = "SECURITY";
- $sm_cloud = "CLOUD";
- $sm_appguard = "APPGUARD";

//index
- $ip_title = "Your best IT Partner";
- $ip_info = "International certified consulting partner, provide broad connection infrastructure services and comprehensive security capabilities to satisfy the most demanding information security requirements.";
- $ip_item1_title = "Connect Globally";
- $ip_item1_info = "Advanced infrastructure with  elite team offer outstanding services."
- $ip_item2_title = "Security Threats";
- $ip_item2_info = "Face over 6 million attacks daily, we secure mobile device, your network, data center or cloud"
- $ip_item3_title = "Proven Success";
- $ip_item3_info = "First choice for leading companies"
- $ip_item4_title = "Certified Standard";
- $ip_item4_info = "With ISO 27001, LPT, CHFI and ECSA certified licenses"
- $is_title = "SERVICES";
- $is_item1_title = "IDC";
- $is_item1_info = "Owned 3 major data centers in Taiwan, built up Direct Peering network with major local telecompanies, 7X24 service which includes Security, System integration, IDC services.";
- $is_item2_title = "Security";
- $is_item2_info = "Experienced security knowledge offering the most advanced security protection, private consultancy providing customer-focused, yet discrete security services.";
- $is_item3_title = "CLOUD";
- $is_item3_info = "International cloud service, integrated with dedicated server and virtual cloud, gives a great flexibility on allocation, maximize efficiency with minimum cost.";
- $is_item4_title = "appGuard";
- $is_item4_info = "Application can be protected within 30 minutes, no source code needed, prevent free IAP’s, source code loss and personal data leakage.";
- $ie_title = "NEWS & EVENTS";
- $ii_title = "INDUSTRY INFORMATION";
- $ic_title = "CUSTOMERS";

- $n_title = "NEWS & EVENTS";
- $n_other = "Other latest news";
- $iin_title = "INDUSTRY INFORMATION";
- $iin_other = "Other latest industry";

- $c_title = "Customers";

//faq
- $f_title = "FAQ";
- $f_item_q1 = "何謂網站主機代管 (Web Center)？";
- $f_item_a1 = "我們提供標準電信機房空間供您置放Web伺服器，並經果核數位機房連接至Internet之服務；您可充分利用果核數位所擁有之優勢以及全國最可靠，頻寬最暢通之Internet通信環境以提昇其競爭力並增進營運效益。";
- $f_item_q2 = "網站主機代管適用對象？";
- $f_item_a2 = "A. 資訊提供者(ICP)，如Web hosting、電子出版、線上資料庫等。<br>B. 電子交易之提供者，如電子商務(EC)、EDI等。";
- $f_item_q3 = "網站主機代管服務內容？";
- $f_item_a3 = "A. 提供標準電信環境，包括水電、空調、UPS、19吋密閉式標準機箱、安全門禁、24小時監視錄影、消防設備...等。<br>B. 依用戶實際需求提供Public IP，不另收費。<br>C. 提供用戶網路流量監測。<br>D. 簡易維護(電源重置reset)。<br>E. DNS代管。";
- $f_item_q4 = "何謂網路設備代管(Network Center)？";
- $f_item_a4 = "我們提供標準電信機房環境，提供您放置網路設備，並結合我們的網路系統建構VPN，提高網路效能，共創雙贏之商機。";
- $f_item_q5 = "網路設備代管服務內容？";
- $f_item_a5 = "A. 提供標準電信環境，包括水電、空調、UPS、19吋密閉式標準機箱、安全門禁、24小時監視錄影、消防設備...等。<br>B. 簡易維護(電源重置reset)。";
- $f_item_q6 = "網路設備代管適用對象？";
- $f_item_a6 = "適用全省據點多，需要網路備援或管理之金融業、證券業、政府機關及企業公司。";
- $f_item_q7 = "網站主機代管服務與網路設備代管服務有何不同？";
- $f_item_a7 = "網站主機代管服務是將放置於本公司機房之用戶伺服器如Web Server(TCP/IP)經果核數位機房連接至Internet之服務；而網路設備代管服務則是將放置於本公 司機房之用戶網路設備等。";
- $f_item_q8 = "何謂輸入頻寬(Bandwidth In)？";
- $f_item_a8 = "每秒由果核數位網路進入放置於機房之Server的位元數(bit per second)。";
- $f_item_q9 = "何謂輸出頻寬(Bandwidth Out)？";
- $f_item_a9 = "每秒由放置於機房之Server進入果核數位網路的位元數(bit per second)。";
- $f_item_q10 = "當進出頻寬不同時，月租費以何方式計算？";
- $f_item_a10 = "當進出頻寬數不同時，以網際網路業務費率表之頻寬月租費(包月制)和之平均數為月租費計收。";
- $f_item_q11 = "申請Co-Location需要那些費用？";
- $f_item_a11 = "除每月固定之費用(機箱月租費及網際網路頻寬之費用)外，於第一次申請或更改傳輸速率時應繳付設定費。";
- $f_item_q12 = "於提出申請後需要多久能上線？";
- $f_item_a12 = "於您提出申請後，我們將依您的預定起租日期儘快與您聯絡，安排設備上架與裝機時間，於裝機完成當日即可使用。";
- $f_item_q13 = "何謂Co-Location(用戶設備代管)？";
- $f_item_a13 = "客戶想快速地建立專屬獨立的Internet網站，而不必受限於固網專線建設時程之限制與斷線之風險，以及自行準備專屬機房(機架、空調、UPS不斷電系統、網路架設等)之困擾，那麼解決的方法就是將客戶自已的專屬獨立的Internet網站搬到ISP (Internet Service Provider)的機房去，透過該ISP所提供的區域網路(一般皆以Ethernet網路連接)與Internet連線，通常只需幾個小時內即能讓客戶的網路服務主機上線(Domain Name註冊時間不算)，這樣將客戶自已的網路服務主機搬到ISP機房去的服務，就稱為Co-Location。";
- $f_item_q14 = "為什麼需要Co-Location？";
- $f_item_a14 = "經濟性<br>採用Co-Location可以節省固網專線電路費用、專屬機房建設費用、資訊網路維護費用。<br><br>效率性<br>首次裝機建設時間較短，可以迅速達到Time to Market之目的。平時透過ISP的Ethernet網路與Internet骨幹連接，減少路由器之Hop count，網路傳輸延遲較小，效能較高。<br><br>可靠性<br>平時透過ISP的Ethernet網路與Internet骨幹連接，Ethernet網路障礙發生機率較固網專線低，如果ISP提供的Ethernet網路具有備援(Redundancy)的話，那麼網路可靠度又更高。<br><br>擴充性<br>因為透過ISP的Ethernet網路與Internet骨幹連接，網路頻寬可以到達100Mbps以上，未來視ISP是否提供Gigabit Ethernet連線，頻寬更可達1,000Mbps。<br><br>管理性<br>透過ISP的專業網路管理機制，可以確保最佳之網路的可使用率(availability)。";

//appguard
- $app_title = "APP GUARD";
- $app_subtitle = "We protect your mobile applications";
- $app_text = "Ensure application developers not suffer from revenue loss, stop tampering with in-game purchasing systems, prevent cloning of the source code and  fraudulent transactions, protects all credential information resides in local device";
- $app_key = "Key Feature";

- $app_item1_title = "Time Efficient";
- $app_item1_info = "Provide the apk, protection process takes 30 min";
- $app_item2_title = "Only Need SDK";
- $app_item2_info = "No source code is needed, only needs to provide SDK for protecting procedure";
- $app_item3_title = "Cloud service";
- $app_item3_info = "Instant protection with the latest version";
- $app_item4_title = "Pass Regulation";
- $app_item4_info = "Comply with local financial regulations for mobile application";

//about
- $a_title = "About";
- $a_subtitle = "Digicentre, your best IT Partner";
- $a_text1 ="Digicentre is a subsidiary company from Gamania - The Taiwan internet flagship company, the team member is originated from IT department, responsible for IDC, security, internet system integration. Now DGC is owned by public listed shareholders, Gamania, AZION, leading integrated cloud solution provider and MDS,   automated banking and self-service solution provider, market leader in Asia.";
- $a_text2 = "The mission is to provide premium IaaS and Saas services, with over a decade of experience able to deliver professional consultant team service for digital content industry clients, so they can focus resources on their core value business.";
- $a_text3 = "Three major data centers locate in Taiwan, built up direct peering network with major Taiwanese telecommunication companies, offers 7x24 service, managed concurrent user with more than 300,000 users, monthly members with over 180 million.";
- $a_text4 ="Co work with leading customers, deliver the most integrated, sophisticated services";
- $a_text5 = "Deliver international standard quality service with certified expert team";

//idc
- $idc_title = "IDC";
- $idc_subtitle = "International network, highly stable with best quality IDC provider";
- $idc_info = "Use secure, high-performance, and cost effective infrastructure, with professional experts advice tailor made solutions for different kinds of operating demands";
- $idc_key = "Key Feature";
- $idc_item1_title = "Direct Peering";
- $idc_item1_info = "Direct peering co-working with the largest telecompany";
- $idc_item2_title = "Value Added Service";
- $idc_item2_info = "Anti-DDoS clean Centre";
- $idc_item3_title = "ISO 27001";
- $idc_item3_info = "ISO 27001 certified international quality";
- $idc_title1 = "IDC";
- $idc_info1 = "Both standardize and custom-made cabinets, bandwidth reports helps in analyzing bandwidth usage. 24/7 SOC and NOC to identify  possible attacks";
- $idc_title2 = "Bandwidth";
- $idc_info2 = "Direct peering with No. local telecompany provides a high quality streaming bandwidth";
- $idc_title3 = "SOC";
- $idc_info3 = "Continuously monitor and improve an organization’s security posture while preventing, detecting and analyzing cyber security incidents";
- $idc_title4 = "Anti-DDOS";
- $idc_info4 = "Monitor and blocking “bad” traffic before it reaches your site, differentiating between malicious or automated clients and legitimate website visitors";

//cloud
- $c_title = "CLOUD";
- $c_subtitle = "Highly integration with local and virtual services to run large-scale computing";
- $c_info = "Use secure, high-performance, and cost effective infrastructure, with professional experts advice tailor made solutions for different kinds of operating demands";
- $c_key = "Key Feature";
- $c_item1_title = "Broad Global Reach";
- $c_item1_info = "Global coverage with massive scalability";
- $c_item2_title = "Accelerated performance";
- $c_item2_info = "High availability of globally distributed network";
- $c_item3_title = "Flexible Scalability";
- $c_item3_info = "High performance to meet demand with optimise costs";
- $c_title1 = "CLOUD";
- $c_info1 = "Local and cloud bases servers offer flexible appliances";
- $c_info1_li1 = "Highly integration with local and virtual services";
- $c_info1_li2 = "Dynamic resource pool for flexibility and expenditure";
- $c_info1_li3 = "Professional consultants provides expert advices";
- $c_info1_li4 = "IBM SoftLayer reseller offer global network";
- $c_title2 = "CDN";
- $c_info2 = "Secure, real-time content delivery network with global reach";
- $c_info2_li1 = "Improve on-net content delivery, reduce demand on telecommunications infrastructure";
- $c_info2_li2 = "Distributed platform to defend against DDoS attacks";
- $c_info2_li3 = "Exclusively co-work with No. 1 telecompany";
- $c_info2_li4 = "Distributer of AWS and Verizon CDN solution provides lightning-fast CDN";

//security
- $se_title = "SECURITY";
- $se_subtitle = "Advanced threat protection, strengthen your security with our experts";
- $se_info = "Over a decade of security experience, manage to defend 95 countries, 60,000 computers and over 6 million attacks on a daily basis, we are the most complete and professional security experts, offer to reduce risk and protect your enterprise";
- $se_key = "Key Feature";
- $se_k1 = "International standard certified licenses";
- $se_k2 = "Offer the most advanced penetration testing service";
- $se_item1_title = "Internal Security Check";
- $se_item1_info = "Evaluate internal operation to give action plans improving security abilities";
- $se_item2_title = "Vulnerability assessment";
- $se_item2_info = "Identifying, and prioritizing the vulnerabilities in web servers or computer operating system";
- $se_item3_title = "Penetration Test";
- $se_item3_info = "A set of stealthy and continuous computer hacking processes, targeting to find potential loopholes";
- $se_item4_title = "Social Engineering";
- $se_item4_info = "Tailored phishing for a specific individual or organization, help administrators learn the most risk for specific types of attacks, identifying which employees require additional training";

- $ca_title = "Careers";
- $ca_none = "We are currently not hiring";
- $ca_op1 = "ALL";
- $ca_op2 = "Information Technology Depar";
- $ca_item_title1 = "Senior Manager";
- $ca_item_title2 = "Product Design Engineer";
- $ca_item_title3 = "Technical Program Manager";
- $ca_item_title4 = "Security Technical Account Manager";

- $ca_item_ltitle1 = "Job Summary";
- $ca_item_ltxt1 = "Led the implementation of the project plan and IDC / ISP company and inter-departmental communication and coordination process improvement projects to assist companies market products research and analysis by Project Properties technician ( system , network or information security ) of the technical team .";
- $ca_item_rtitle1 = "Key Qualifications";
- $ca_item_rtxt1 = "1. Brand Marketing Manager";
- $ca_item_rtxt2 = "2. The marketing strategy formulation";
- $ca_item_rtxt3 = "3. Execute marketing activities";
- $ca_item_rtxt4 = "4. Write a press release and public relations reports";
- $ca_item_rtxt5 = "5. The implementation of cross-industry coopera    tion and communication";
- $ca_apply = "Apply now";
- $ca_share = "Share";

//terms
- $te_title = "TERMS";
//customers
- $cu_title = "CUSTOMERS";
//contact
- $co_info1 = "Email us at ";
- $co_info2 = " or use the form below. Most emails receive a response within two hours during support hours.";
- $co_com = "Visit Our Office";
- $co_addr = "No. 111, Ruihi St., Neihu., Taipei City 11494, Taiwan";
- $co_phone = "P +886-2-2658-2220";
- $co_firstname = "First Name";
- $co_lastname = "Last Name";
- $co_company = "Company";
- $co_email ="Email";
- $co_message="Your message";
- $co_submit = "Send";