//menu
- $m_about = "關於果核";
- $m_services = "產品服務";
- $m_news = "企業動態";
- $m_resurces = "產業訊息";
- $m_customers = "合作客戶";
- $m_careers = "最新職缺";
- $m_contact = "聯絡我們";
- $m_faq = "常見問題";
- $m_terms = "營業規章";
- $m_home = "首頁"; 

- $sm_idc = "機房";
- $sm_security = "資安監控";
- $sm_cloud = "雲端服務";
- $sm_appguard = "appGuard";

//index
- $ip_title = "Your best IT Partner";
- $ip_info = "國際認證專業技術團隊，擁有高品質基礎建設和資訊安全服務，提供產業最完整、專業技術支援";
- $ip_item1_title = "全球網絡服務";
- $ip_item1_info = "國內電信業直連網路和專業技術團隊"
- $ip_item2_title = "資安專家";
- $ip_item2_info = "每日阻擋600萬次攻擊，有效防護手機、伺服器和雲端資訊安全"
- $ip_item3_title = "成功案例";
- $ip_item3_info = "眾多國際級領導品牌的合作夥伴"
- $ip_item4_title = "國際認證";
- $ip_item4_info = "擁有多張國際執照，ISO 27001, LPT, CHFI and ECS"
- $is_title = "SERVICES";
- $is_item1_title = "IDC";
- $is_item1_info = "擁有三地機房並與國內電信龍頭建立直接對等連接(Direct Peering)，自建Anti-DDos清洗加值服務，累積數十年技術經驗，維運規模達數千台伺服器，提供高品質IDC設備與服務";
- $is_item2_title = "Security";
- $is_item2_info = "擁有最豐富的資安經驗，提供企業完整防護機制，避免駭客攻擊，提升系統防護能力";
- $is_item3_title = "CLOUD";
- $is_item3_info = "國際雲端服務，整合實體機房與虛擬雲端，依需求做彈性分配，降低企業成本並提供最大效益";
- $is_item4_title = "appGuard";
- $is_item4_info = "應用程式保護不需要原始碼，30分鐘完成防護，有效防止破解、原始碼偷竊，避免個資外洩";
- $ie_title = "NEWS & EVENTS";
- $ii_title = "INDUSTRY INFORMATION";
- $ic_title = "CUSTOMERS";

- $n_title = "企業動態";
- $n_other = "其他動態";
- $iin_title = "產業訊息";
- $iin_other = "其他訊息";

- $c_title = "合作客戶";

//faq
- $f_title = "常見問題";
- $f_item_q1 = "何謂網站主機代管 (Web Center)？";
- $f_item_a1 = "我們提供標準電信機房空間供您置放Web伺服器，並經果核數位機房連接至Internet之服務；您可充分利用果核數位所擁有之優勢以及全國最可靠，頻寬最暢通之Internet通信環境以提昇其競爭力並增進營運效益。";
- $f_item_q2 = "網站主機代管適用對象？";
- $f_item_a2 = "A. 資訊提供者(ICP)，如Web hosting、電子出版、線上資料庫等。<br>B. 電子交易之提供者，如電子商務(EC)、EDI等。";
- $f_item_q3 = "網站主機代管服務內容？";
- $f_item_a3 = "A. 提供標準電信環境，包括水電、空調、UPS、19吋密閉式標準機箱、安全門禁、24小時監視錄影、消防設備...等。<br>B. 依用戶實際需求提供Public IP，不另收費。<br>C. 提供用戶網路流量監測。<br>D. 簡易維護(電源重置reset)。<br>E. DNS代管。";
- $f_item_q4 = "何謂網路設備代管(Network Center)？";
- $f_item_a4 = "我們提供標準電信機房環境，提供您放置網路設備，並結合我們的網路系統建構VPN，提高網路效能，共創雙贏之商機。";
- $f_item_q5 = "網路設備代管服務內容？";
- $f_item_a5 = "A. 提供標準電信環境，包括水電、空調、UPS、19吋密閉式標準機箱、安全門禁、24小時監視錄影、消防設備...等。<br>B. 簡易維護(電源重置reset)。";
- $f_item_q6 = "網路設備代管適用對象？";
- $f_item_a6 = "適用全省據點多，需要網路備援或管理之金融業、證券業、政府機關及企業公司。";
- $f_item_q7 = "網站主機代管服務與網路設備代管服務有何不同？";
- $f_item_a7 = "網站主機代管服務是將放置於本公司機房之用戶伺服器如Web Server(TCP/IP)經果核數位機房連接至Internet之服務；而網路設備代管服務則是將放置於本公 司機房之用戶網路設備等。";
- $f_item_q8 = "何謂輸入頻寬(Bandwidth In)？";
- $f_item_a8 = "每秒由果核數位網路進入放置於機房之Server的位元數(bit per second)。";
- $f_item_q9 = "何謂輸出頻寬(Bandwidth Out)？";
- $f_item_a9 = "每秒由放置於機房之Server進入果核數位網路的位元數(bit per second)。";
- $f_item_q10 = "當進出頻寬不同時，月租費以何方式計算？";
- $f_item_a10 = "當進出頻寬數不同時，以網際網路業務費率表之頻寬月租費(包月制)和之平均數為月租費計收。";
- $f_item_q11 = "申請Co-Location需要那些費用？";
- $f_item_a11 = "除每月固定之費用(機箱月租費及網際網路頻寬之費用)外，於第一次申請或更改傳輸速率時應繳付設定費。";
- $f_item_q12 = "於提出申請後需要多久能上線？";
- $f_item_a12 = "於您提出申請後，我們將依您的預定起租日期儘快與您聯絡，安排設備上架與裝機時間，於裝機完成當日即可使用。";
- $f_item_q13 = "何謂Co-Location(用戶設備代管)？";
- $f_item_a13 = "客戶想快速地建立專屬獨立的Internet網站，而不必受限於固網專線建設時程之限制與斷線之風險，以及自行準備專屬機房(機架、空調、UPS不斷電系統、網路架設等)之困擾，那麼解決的方法就是將客戶自已的專屬獨立的Internet網站搬到ISP (Internet Service Provider)的機房去，透過該ISP所提供的區域網路(一般皆以Ethernet網路連接)與Internet連線，通常只需幾個小時內即能讓客戶的網路服務主機上線(Domain Name註冊時間不算)，這樣將客戶自已的網路服務主機搬到ISP機房去的服務，就稱為Co-Location。";
- $f_item_q14 = "為什麼需要Co-Location？";
- $f_item_a14 = "經濟性<br>採用Co-Location可以節省固網專線電路費用、專屬機房建設費用、資訊網路維護費用。<br><br>效率性<br>首次裝機建設時間較短，可以迅速達到Time to Market之目的。平時透過ISP的Ethernet網路與Internet骨幹連接，減少路由器之Hop count，網路傳輸延遲較小，效能較高。<br><br>可靠性<br>平時透過ISP的Ethernet網路與Internet骨幹連接，Ethernet網路障礙發生機率較固網專線低，如果ISP提供的Ethernet網路具有備援(Redundancy)的話，那麼網路可靠度又更高。<br><br>擴充性<br>因為透過ISP的Ethernet網路與Internet骨幹連接，網路頻寬可以到達100Mbps以上，未來視ISP是否提供Gigabit Ethernet連線，頻寬更可達1,000Mbps。<br><br>管理性<br>透過ISP的專業網路管理機制，可以確保最佳之網路的可使用率(availability)。";

//appguard
- $app_title = "APP GUARD";
- $app_subtitle = "應用程式首選最強防護服務";
- $app_text = "確保應用程式開發商不因破解而導致營收短少，避免付費機制遭竄改，防止原始碼外洩與詐騙電子交易，保障個人資料安全性";
- $app_key = "產品特色";

- $app_item1_title = "30分鐘完成防護";
- $app_item1_info = "只需提供APK，30分鐘完成防護";
- $app_item2_title = "資安保護:";
- $app_item2_info = "不需要原始碼，僅提供SDK即可完成保護";
- $app_item3_title = "雲端防護";
- $app_item3_info = "雲端防護服務，及時更新及時保護";
- $app_item4_title = "符合法規";
- $app_item4_info = "符合各項法規針對平台上漏洞的規定";

//about
- $a_title = "關於果核";
- $a_subtitle = "果核數位您最好的IT夥伴";
- $a_text1 ="果核數位前身為遊戲橘子IDC、資安、系統及網路事業部門，目前為三家上市公司合資專業二類電信公司，分別為遊戲橘子(6180)、驊宏資通(6148)、三商電腦(2427)。";
- $a_text2 = "技術團隊以19年來維運規模達數千台伺服器所累積的技術經驗提供國內外客戶專業服務，並能在數位內容產業的技術與經驗，提供高品質的基礎服務及專業的加值服務，以差異化產品服務高端客層，逐漸由傳統Internet Service Provider (ISP)角色轉為Managed Service Provider (MSP)，產品也將自基礎建設即服務(IaaS)延伸為資訊安全即服務(SaaS) 。";
- $a_text3 = "擁有三地機房與國內主要電信業者建立Direct Peering 直連網路，提供7X24全時服務台灣多家頂尖的線上遊戲與數位內容公司，單一最大客戶之營運規模達30萬人同時在線，全月登入人次更達1.8億人次。";
- $a_text4 ="擁有眾多國際級領導品牌的合作夥伴，提供各產業企業最完整、專業的技術支援:";
- $a_text5 = "果核擁有國際認證的專業人才眾多國際原廠授與專業證照:";

//idc
- $idc_title = "機房";
- $idc_subtitle = "國際串連網路高品質高穩定機房環境";
- $idc_info = "不需花費昂貴機房建置與人力管理成本，就可享有高品質網路設備環境，並有專業團隊提供最完整顧問規劃，滿足不同營運上的需求";
- $idc_key = "產品特色";
- $idc_item1_title = "建立直連網路";
- $idc_item1_info = "擁有三地機房與國內電信業者建立Direct Peering";
- $idc_item2_title = "加值服務";
- $idc_item2_info = "自建Anti-DDoS清洗加值服務";
- $idc_item3_title = "安全管理";
- $idc_item3_info = "ISO27001國際標準規範";
- $idc_title1 = "機房";
- $idc_info1 = "標準櫃與客製規劃，提供評估建議與頻寬流量報表，全年365天無休結合NOC與SOC全方位安全監控，保障主機安全";
- $idc_title2 = "頻寬";
- $idc_info2 = "國際電信業者直連頻寬提供快速存取，連線無國界的網際網路接取服務";
- $idc_title3 = "資安監控";
- $idc_info3 = "提供防火牆、入侵防禦系統的資安事件監控及分析統計報表，產生資安日誌，提供作為資訊安全管理依據";
- $idc_title4 = "Anti-DDOS";
- $idc_info4 = "建置於骨幹的防禦，透過『監聽-過濾』機制攔阻惡意流量，讓攻擊不會塞爆頻寬，維持營運上的連續性";

//cloud
- $c_title = "雲端服務";
- $c_subtitle = "虛擬與實體機房高度整合，以提供高效能運算";
- $c_info = "結合本地機房與雲端服務，將客戶需求做彈性分配，透過專業顧問團隊規劃，提供效益最大化的建置佈署";
- $c_key = "產品特色";
- $c_item1_title = "服務接點";
- $c_item1_info = "國內外皆有服務接點";
- $c_item2_title = "提高效能";
- $c_item2_info = "分散下載頻寬，提高傳送效能";
- $c_item3_title = "彈性需求";
- $c_item3_info = "最適成本滿足客戶需求";
- $c_title1 = "CLOUD";
- $c_info1 = "結合本地機房與雲端服務，提供最彈性應用";
- $c_info1_li1 = "實體設備與虛擬服務的高度整合";
- $c_info1_li2 = "高度自主性與彈性收費";
- $c_info1_li3 = "專業團隊提供完整顧問服務";
- $c_info1_li4 = "代理IBM SoftLayer服務，提供國際連網服務";
- $c_title2 = "CDN";
- $c_info2 = "安全即時內容傳遞，網絡遍佈全球";
- $c_info2_li1 = "提高傳送效能,就近取得內容";
- $c_info2_li2 = "分散式架構減緩DDoS攻擊";
- $c_info2_li3 = "與台灣第一大電信業者合作，為獨家經銷";
- $c_info2_li4 = "經銷AWS和Verizon即時內容傳遞，提供快速資料傳輸服務";

//security
- $se_title = "資安監控";
- $se_subtitle = "專業團隊強化企業資安，提供進階威脅防護";
- $se_info = "數十年豐富的資安防禦經驗，每日阻擋95國、6萬台電腦、600萬次的攻擊，全面防護超過6000台伺服器，是最完整、專業的資安專家，提供線上產業最強大的防護實力";
- $se_key = "產品特色";
- $se_k1 = "榮獲多項認證";
- $se_k2 = "提供最先進的資安滲透測試服務";
- $se_item1_title = "內部資安檢視";
- $se_item1_info = "檢視內部作業提供改善建議，提升資安防護能力";
- $se_item2_title = "弱點掃描";
- $se_item2_info = "針對WEB主機或電腦系統做安全弱點掃描，提供結果並協助修正";
- $se_item3_title = "滲透測試";
- $se_item3_info = "模擬駭客攻擊方式，找出可能資安漏洞";
- $se_item4_title = "社交工程";
- $se_item4_info = "透過電子郵件提供受測單位，了解可能安全缺口，並做教育訓練來補強";

- $ca_title = "最新職缺";
- $ca_none = "We are currently not hiring";
- $ca_op1 = "ALL";
- $ca_op2 = "Information Technology Depar";
- $ca_item_title1 = "Senior Manager";
- $ca_item_title2 = "Product Design Engineer";
- $ca_item_title3 = "Technical Program Manager";
- $ca_item_title4 = "Security Technical Account Manager";

- $ca_item_ltitle1 = "Job Summary";
- $ca_item_ltxt1 = "Led the implementation of the project plan and IDC / ISP company and inter-departmental communication and coordination process improvement projects to assist companies market products research and analysis by Project Properties technician ( system , network or information security ) of the technical team .";
- $ca_item_rtitle1 = "Key Qualifications";
- $ca_item_rtxt1 = "1. Brand Marketing Manager";
- $ca_item_rtxt2 = "2. The marketing strategy formulation";
- $ca_item_rtxt3 = "3. Execute marketing activities";
- $ca_item_rtxt4 = "4. Write a press release and public relations reports";
- $ca_item_rtxt5 = "5. The implementation of cross-industry coopera    tion and communication";
- $ca_apply = "Apply now";
- $ca_share = "Share";

//terms
- $te_title = "營業規章";
//customers
- $cu_title = "合作客戶";

//contact
- $co_info1 = "如有任何問題，請來信到";
- $co_info2 = "或是填寫下面表單。每封郵件將會在工作時間內，收到後兩小時內回覆.";
- $co_com = "公司位置";
- $co_addr = "台北市瑞湖街111號";
- $co_phone = "P +8862-2-2658-2220";
- $co_firstname = "名";
- $co_lastname = "姓";
- $co_company = "公司名稱";
- $co_email ="Email";
- $co_message="想請問";
- $co_submit = "送出";