#error_page{
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 20px;
	.error_404{
		font-family: "dincond-regular","微軟正黑體", "Microsoft JhengHei",'sans-serif';	
		width: 100%;
		height: 100%;
		border: 10px solid #000;
		position: relative;
		text-align: center;
		vertical-align: middle;
		&:after{
			content:"";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.main_div{
			display: inline-block;
			vertical-align: middle;
			margin-top: -30%;
			@include rwd($desktop) {
				margin-top: -10%;
			}
			h1{
				font-size: 100px;
				line-height: 1.3;
				@include rwd($desktop) {
					font-size: 203px;
				}
			}
			h2{
				font-size: 28px;
				color:#636363;
				@include rwd($desktop) {
					font-size: 48px;
				}
			}
			a{
				margin-top: 40px;
				display: block;
				color:#636363;
				img{
					width: 50px;
					@include rwd($desktop) {
						width: auto;
					}
				}
				p{
					margin-top: 10px;
					font-size: 20px;
					@include rwd($desktop) {
						margin-top: 20px;
						font-size: 30px;
					}
				}
			}
		}
		.f_img{
			position: absolute;
			bottom: 20px;
			left: 50%;
			width: 180px;
			@include transform(translateX(-50%));
			@include rwd($desktop){
				width: auto;
			}
		}
	}
}