include lang_tw
-$lang = "tw";
doctype 5
html lang="zh-TW"

  include head
  
  body
    #warp
      include header
      .warpper.customers
        .banner
          img src="../assets/images/customers-bg.jpg" alt=""/
          h2.title = $cu_title
        .items
          .item
            .pic
              img src="../assets/images/logo1.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title GAMANIA
          .item
            .pic
              img src="../assets/images/logo2.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title NCSOFT
          .item
            .pic
              img src="../assets/images/logo3.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title GARENA
          .item
            .pic
              img src="../assets/images/logo4.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title FLASH WOLVES
          .item
            .pic
              img src="../assets/images/logo5.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title REKOO
          .item
            .pic
              img src="../assets/images/logo6.jpg" alt=""/
            p.info NCsoft is a Korean online game company, founded in March 11, 1997.
            p.title IWPLAY WORLD
    include footer
