include lang_tw
-$lang = "tw";
doctype 5
html lang="zh-TW"

  include head
  
  body
    #warp
      include header
      .warpper.security
        .banner
          img src="../assets/images/security-bg.jpg" alt=""/
          .title
            h2 = $se_title
            p = $se_subtitle
        .text
          p = $se_info
        .main-div
          .items
            .key = $se_key
            .item
              .pic
                img src="../assets/images/sec-item1.jpg" alt=""/
              .content
                .title 
                  h5 = $se_k1
            .item
              .pic
                img src="../assets/images/sec-item2.jpg" alt=""/
              .content
                .title 
                  h5 = $se_k2
        .feature
          .pic
            img src="../assets/images/sec-fea.jpg" alt=""/
          .mainsize
            .items
              .item
                img src="../assets/images/sec01.png" alt=""/
                .title = $se_item1_title
                .info = $se_item1_info
              .item
                img src="../assets/images/sec02.png" alt=""/
                .title = $se_item2_title
                .info = $se_item2_info
              .item
                img src="../assets/images/sec03.png" alt=""/
                .title = $se_item3_title
                .info = $se_item3_info
              .item
                img src="../assets/images/sec04.png" alt=""/
                .title = $se_item4_title
                .info = $se_item4_info
    include footer
