-$page_list = 'about';
doctype 5
html lang="zh-TW"

  include head
  
  body
    include header
    .warp
      include menu
      .warpper.about
        .main_img  data-stellar-background-ratio="1.4" data-stellar-vertical-offset="400"
          img src="assets/images/about_pic.jpg" alt=""/
          span ABOUT NAKED
        .main_content
          .maintitle
            .icon
              img src="assets/images/about_icon.jpg" alt=""/
            span 關於裸
          .txt
            h3 裸市集的中心「裸」概念
            p “Eat better, spend less, and be environmental-friendly“，這是我們最中心的想法及概念。<br>我們觀察到，目前會造成食物需要保存以及大量浪費的原因，都是因為現行的體制下客人常常購買了多於他們所需分量的食材，但是在ＮＭ所提倡以及鼓勵的方向中，我們控管了進貨的數量，進口了專門的容器，也提供了小量的購買，希望幫助大家讓下廚變得更輕鬆方便，能用有限的預算去買所需要或是好品質的食材，依照自己「真正所需的份量」做選購，能大幅減少食材的浪費。
        .buy_div
          .buy_title
            h3
              | 購買方式
              small 店內皆採自助式採買
          .bitem
            .stitle
              span 無攜帶容器
            .items
              .item
                img src="assets/images/buy_pic1.jpg" alt=""/
                p 於店內選擇適合紙袋或容器
              .item
                img src="assets/images/buy_pic2.jpg" alt=""/
                p 自行決定採買食材及份量，<br>特殊食材（如液體，奶製品等）<br>店員會指引使用方式
              .item
                img src="assets/images/buy_pic3.jpg" alt=""/
                p 至櫃台秤重結帳
          .bitem
            .stitle
              span 自備容器
            .items
              .item
                img src="assets/images/buy_pic4.jpg" alt=""/
                p 告知店員並出示容器
              .item
                img src="assets/images/buy_pic5.jpg" alt=""/
                p 進行容器扣重，再盛裝所需食材
              .item
                img src="assets/images/buy_pic6.jpg" alt=""/
                p 至櫃檯秤重結帳，並獲得額外折扣
        .faq
          .maintitle data-stellar-background-ratio="1.5" data-stellar-vertical-offset="600"
            img src="assets/images/faq_pic.jpg" alt=""/
            span FAQ
          .faq_items
            .item
              .qtitle
                span 裸市集的中心概念
              .answer
                .txt
                  p 我們希望增加食材採買的便利性，讓下廚可以更輕鬆方便，每個人都可以在有限預算內購買到需要或有品質的食材，並依照所需的份量做選購，減少不必要的食材浪費。
            .item
              .qtitle
                span 成立緣由
              .answer
                .txt
                  p 成立前，兩位創辦者是兩個喜歡下廚的人，分別在不同餐廳中擔任內場廚師，平常喜歡翻閱食譜書籍和看旅遊生活頻道，雖然天天做菜給別人，自己想下廚時卻感受到在家裡準備過程相當麻煩。有次休假兩人和幾個廚師好友想一起煮頓飯，深刻體認到採買食材的困難，而不管是在哪裡採購，食材總會剩下太多。在這樣的生活經驗下，逐漸累積了許多想法，因為猜想其他人一定也有相同困擾，進而有了創立了裸市集這樣商店的想法。
            .item
              .qtitle
                span 台灣的氣候較潮濕，食材的保存上有什麼應對之道？
              .answer
                .txt
                  p 店內多數販售雜貨乾糧，皆有半年以上至三年的保存期限。最為知名的盛裝容器，是專門設計的特殊容器，具有良好的密封效果。每天店員會檢視食材狀況每次小量補貨，多數店內商品上架一至兩星期內會被採購完畢，如果是較乏人問津便會下架不會滯留於架上販售。<br>我們觀察到，會造成食物需要保存以及大量浪費的原因，都是因為現行的體制下不可避免的採買了多於所需的食材，在裸市集我們每週下單叫貨，維持少量多次叫貨確保每批商品新鮮度，我們也鼓勵客人採買所需，不過度囤貨，因此商品應該在還新鮮的狀態下就被採買以及食用完畢。
            .item
              .qtitle
                span 挑選食材的來源
              .answer
                .txt
                  p 我們不會大量進貨或是囤貨，通常都是依照當月來客量去制定叫貨量確保每批商品的新鮮度。另外，除了特別引進的容器都有密封的效果，我們每次都少量補充食材至客人使用完再補充的方式去確保商品的新鮮，也一直不斷的去檢視商品的販售狀況。基本上所有店內商品再上架兩星期內都會售完，如果是比較乏人問津或是沒有流動的商品，會馬上換成其他詢問較高的商品（舉例目前已下架產品：黃豆，黑豆，小米，珍珠大麥，多種乳酪等等，都是店內銷售狀況較差或是不易保存的商品）換而言之，我們思考的是怎麼促進商品的流動率以及汰換掉流動率低的商品，而不是如何去思考怎麼長期保存那些販售不掉的商品，基本上銷售不掉的商品，我們不會讓它們有在架上太久的機會，隔週就會立刻立即下架員工餐吃掉了。
        include footer

