doctype 5
html lang="zh-TW"

  include head
  
  body
    include header
    .warp
      include menu
      .warpper.pay_step
        .main_content
          .main_title
            h3 Shopping cart
            p 歡迎來信詢問任何訂單、商品及帳戶問題
            a href="mailto:nakedmarket.tw@gmail.com" nakedmarket.tw@gmail.com
          .step_list
            .step
              .pic
                img src="assets/images/step1_icon.png" alt=""/
              p 1.購物清單
            .step
              .pic
                img src="assets/images/step2_icon.png" alt=""/
              p 2.填寫資料
            .step
              .pic
                img src="assets/images/step3_icon.png" alt=""/
              p 3.付款方式
            .step.active
              .pic
                img src="assets/images/step4_icon.png" alt=""/
              p 4.確認付款     
          .content
            .check_div
              .div_title
                span 購物清單
              .item.i_title
                div
                  p 取消
                div
                  p 商品
                div
                  p 商品名稱
                div
                  p 數量
                div
                  p 單價
                div
                  p 小記
              ul.items
                li
                  .item
                    div
                      .i_del
                        .mt
                    div
                      img src="assets/images/product_pic.jpg" alt=""/
                    div
                      p 即食有機核桃蔓越莓麥片
                    div
                      p 566g
                    div
                      p $70/100g
                    div
                      p $2436
                li
                  .item
                    div
                      .i_del
                        .mt
                    div
                      img src="assets/images/product_pic.jpg" alt=""/
                    div
                      p 即食有機核桃蔓越莓麥片
                    div
                      p 566g
                    div
                      p $70/100g
                    div
                      p $2436
                li
                  .item
                    div
                      .i_del
                        .mt
                    div
                      img src="assets/images/product_pic.jpg" alt=""/
                    div
                      p 即食有機核桃蔓越莓麥片
                    div
                      p 566g
                    div
                      p $70/100g
                    div
                      p $2436
                li
                  .item
                    div
                      .i_del
                        .mt
                    div
                      img src="assets/images/product_pic.jpg" alt=""/
                    div
                      p 即食有機核桃蔓越莓麥片
                    div
                      p 566g
                    div
                      p $70/100g
                    div
                      p $2436
                li
                  .item
                    div
                      .i_del
                        .mt
                    div
                      img src="assets/images/product_pic.jpg" alt=""/
                    div
                      p 即食有機核桃蔓越莓麥片
                    div
                      p 566g
                    div
                      p $70/100g
                    div
                      p $2436
              .ship_div
                p 運送方式
                p 低溫
                p 免運
              .totle_price
                span 總計
                span.n $420
            .check_div
              .div_title
                span 收件人資訊
              .member_info
                p.username 陳奕達
                p.email spongeseven@hotmail.com
                p.address 台北市民生東路四段35號3樓
                p.mobile 0925883546
                p.phone 0222587954
            .check_div
              .div_title
                span 付款方式
              .pays
                label
                  input type="radio" checked="checked" name="pay_type"/
                  .item.webatm
                    .icon
                      img src="assets/images/webatm_icon.png" alt=""/
                    span WEB ATM
            .info_div
              .a_text
                .a_title
                  p 購物說明
                .t_content
                  ul
                    li 訂購完成後,系統發送訂單確認通知給您,我們將儘快為您安排出貨。
                    li 低溫配送商品會於商品備註加入低溫配送提醒。
                    li 集點卡僅適用於裸市集實體店面消費(不包含餐點) ,合併使用。
              .a_text
                .a_title
                  p 退貨說明
                .t_content
                  ul
                    li 常溫商品均享有到貨七天的猶豫期(含例假日在內),低溫商品恕不提供退換貨服務。
                    li 猶豫期並非試用期,若您收到商品經檢視後有任何不合意之處,請勿拆開使用,保持商品包裝完整,並於七日內辦理退貨,退貨前 請先來信或來電連絡。客服信箱：nakedmarket.tw@gmail.com 聯絡電話：02-2719-8809
                    li 退回的商品須為未經使用過之完整新品,並請保持商品本身完整性；退貨商品如經拆封使用過,依民法第259條,裸市集保有要求消費者負起物品無法回復原狀之責任,不得退貨。
                    li 除商品本身瑕疵外,其他退換貨原因請自行負擔運費。
              .a_text
                .a_title
                  p 保存方式
                .t_content
                  ul
                    li 所有商品拆封後請以密封罐保存為佳,放置陰涼通風處,需冷藏商品請置於冰箱
                    li 所有商品拆封後請儘早食用完畢
              .a_text.i2
                .a_title
                  p 付款方式
                .t_content
                  ul
                    li 線上ATM轉帳匯款
                    li 線上信用卡付款
                    li 超商繳費<br>可至 7-11、全家、萊爾富、OK便利店使用ibon/超商機台輸入繳費代碼列印付款條碼，並至櫃檯繳款。若您有兩筆以上訂單，請依照繳費代碼個別輸入列印。<br>操作方式:ibon /超商機台點選「繳費」→「代碼繳費」→ 輸入繳費代碼 → 列印繳費條碼 → 至櫃檯付款。

              .a_text.i2
                .a_title
                  p 運費說明
                .t_content
                  ul
                    li 常溫宅配NT$150，滿NT$1500免運費
                    li 低溫宅配NT$220，滿NT$1800免運費
              .a_text
                .a_title
                  p 配送方式及問題
                .t_content
                  p 
                    | 網路訂購配合黑貓宅急便常溫／低溫配,當日下午四點後下單視為隔日業務處理。
                  p 
                    | *台北縣市如需機車快遞急件,請來電詢問02-2719-8809<br><br>
                  p 
                    | 配送詳細資訊如下：
                  ul
                    li 
                      | 黑貓常溫宅配3-7個工作天送達指定地點。
                    li 
                      | 黑貓低溫宅配,如訂單含有1件需低溫配送商品,此筆訂單皆統一以低溫配送3-7個工作天送達指定地點。
                    li
                      | 延遲狀況：店內活動,重大節慶及假日可能導致出貨量增加,將另行公告通知,並盡可能於正常配送日完成出貨。如因訂單較多,則可能會延遲 1-2日完成出貨,敬請見諒。若是因商品於準備出貨時發現庫存不足,瑕疵等狀況,我們將會有專人與您通知,確認出貨事宜。
                    li
                      | 延遲狀況：店內活動、重大節慶及假日 可能導致出貨量增加,將另行公告通知 ,並盡可能於正常配送日完成出貨。如 因訂單較多,則可能會延遲 1-2日完成出 貨,敬請見諒。若是因商品於準備出貨 時發現庫存不足、瑕疵等狀況，我們將會有專人與您通知,確認出貨事宜。
                    li
                      | 如遇特定節日前後(農曆過年、情人節 、聖誕節,等重大活動),出貨量較大,偶有物流業務量較大造成配送時程延誤, 則請見諒並請隨時告知我們您的需求及詢問配送狀況。
              label.check_btn
                input type="checkbox"/
                .box
                span 我已確並且瞭解購物須知, 配送方式及退貨說明
            .b
              a.next_btn href="index.html"
                span 確認
        include footer
