.detail
  .pic: img src="assets/images/product_pic.jpg" alt=""/
  .content_div
    .top_div
      .title
        .t1 即食有機核桃蔓越莓麥片
        .t2 Organic Walnuts & Cranberry with Grain Flakes
      .detail_close
    .text 成分 // 杜蘭小麥粉,雞蛋 <br>原產地 // 義大利<br>品牌 // De Cecco<br>一人份量 // 80-100g<br>建議烹調時間 // 24分鐘
    table.mid_list
      tr
        td.price 
          span $70/100g
        td.n 訂購數量
        td.count: input type="number" name="count"/
        td.unit g
    .bottom_div
      .info_btn
        .attest_btn
          img src="assets/images/attest_icon.png" alt=""/
        .btn
          span 食材介紹
        .add_cart
          span 放進購物車
          .icon: img src="assets/images/add_bag.png" alt=""/
        .info 常用於奶酪、布丁或果凍中，有凝固的作用。 <br>使用前須先與水調和。保存時要避免高溫潮濕。 
      .add_cart
        span 放進購物車
        .icon: img src="assets/images/add_bag.png" alt=""/

  javascript: