- var devMode = self.htmlWebpackPlugin.options.data.DEV_MODE
doctype
html
    head
        meta(charset='UTF-8')
        title 讓我搭一班會爆炸的電車
        link(rel="shortcut icon" type="image/ico" href="assets/images/favicon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(name="description" content="計畫名稱取自香港歌曲《讓我搭一班會爆炸的飛機》與經典哲學題目「電車難題」。既然上了「設計」這台電車，不是被炸死，就是要好好面對為難的困境。讓我搭一班會爆炸的電車——每週五晚上八點，準時發車！")
        meta(name="application-name" content="讓我搭一班會爆炸的電車")
        meta(itemprop="name" content="讓我搭一班會爆炸的電車")
        meta(itemprop="description" content="計畫名稱取自香港歌曲《讓我搭一班會爆炸的飛機》與經典哲學題目「電車難題」。既然上了「設計」這台電車，不是被炸死，就是要好好面對為難的困境。讓我搭一班會爆炸的電車——每週五晚上八點，準時發車！")
        meta(itemprop="image" content="http://thecomplex.lymma.net/assets/images/Seo_flowing.jpg")
        meta(property="og:type" content="article")
        meta(property = "og:description" content= "計畫名稱取自香港歌曲《讓我搭一班會爆炸的飛機》與經典哲學題目「電車難題」。既然上了「設計」這台電車，不是被炸死，就是要好好面對為難的困境。讓我搭一班會爆炸的電車——每週五晚上八點，準時發車！")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-91885122-2', 'auto');
            ga('send', 'pageview');
    body
        #app
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js')
        //- IE11 
        script(src='//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js')
        script.
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1102319189864145',
                    xfbml: true,
                    version: 'v2.8'
                });
            };