body {  font-family:"微軟正黑體","Microsoft JhengHei";}
#main .content{max-width:90%;}
#menu a{font-size:16px;}
.right {float: right;margin-bottom: 10px;}
.pure-form label {
  margin-top: 20px;
}
.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}
.pure-form input[type=text][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form select[disabled], .pure-form textarea[disabled]{
  color: #000000;
}
.pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-transition: .3s linear border;
  -moz-transition: .3s linear border;
  -ms-transition: .3s linear border;
  -o-transition: .3s linear border;
  transition: .3s linear border;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.ui-widget{font-size:12px;}
.cover_preview {margin:10px;}
.cover_preview img{max-width:235px; height:auto;}
.ui-widget{
  font-size:60%;
}
#gallery{
  margin-top:20px;
  padding: 20px;
  border: 1px solid #ccc;
}
.gallery_img{
  position:relative;
  width: 150px;
  height: 180px;
  border: 1px solid #ccc;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  zoom: 1;
  *display: inline;
  _height: 176px;
  text-align:center;
}
.gallery_img img{
  max-width:150px;
  max-height:150px;
  padding-bottom:30px;
}
.gallery_img a{
  /*position:absolute;*/
  left:0;
  bottom:0;
}
.gallery_img .loading{
  margin-top:40%;
  text-align: center;
}
.sortable-placeholder{background-color: #FFF54D;}
#menu{
  overflow:visible;
  z-index:1;
}
#main{
  z-index:0;
}
.pure-menu li:hover > ul{
  top:0;
  left:150px;
  visibility:visible;
  width:150px;
}
.pure-menu-children li{
  background-color:#777;
}
.pure-menu-children li:hover{
  background-color:#333;
}
.pure-menu-children li:hover > .icon-right2{
  display: block;
}
.pure-menu-children a{
  color:#ffffff !important;
}
.icon-right{
  float:right;
  margin-top:-40px;
  padding:10px;
}
.icon-right2{
  float:right;
  margin-top:-43px;
  margin-right:10px;
  display:none;
}
.pure-form label.for_checkbox
{
  cursor: pointer;
  display:inline-block;
}

.pure-table tbody >tr:nth-child(even) {background: #F5F5F5}

.my_template_toolbar>img{
  max-width: 200px;
}